    <div class="ngdialog-message">
        <div>
            <h3>Delete "{{goal.name}}"?</h3>
        </div>
        <p style="padding:5px;"></p>
        <div>If you confirm, this goal will be <b>deleted permanently</b>.</div>
        <p style="padding:5px;"></p>
        <div>
           <button class="btn btn-primary btn-sm" id="btn-space" ng-click="arcDeleteGoal()">Confirm</button>
           <button class="btn btn-danger btn-sm" id="btn-space" ng-click="closeThisDialog()">Cancel</button>
        </div>
    </div>