    <div class="ngdialog-message">
        <div>
            <h3>Complete "{{goal.name}}"?</h3>
        </div>
        <p style="padding:5px;"></p>
        <div>Mark this goal complete and claim reward points / trophy?</div>
        <p style="padding:5px;"></p>
        <div>
           <button class="btn btn-primary btn-sm" id="btn-space" ng-click="completeGoal()">Confirm</button>
           <button class="btn btn-danger btn-sm" id="btn-space" ng-click="closeThisDialog()">Cancel</button>
        </div>
    </div>