    <div class="ngdialog-message">
        <div>
            <h3>Perform "{{task.name}}"?</h3>
        </div>
        <p style="padding:5px;"></p>
        <div>Claim <b>{{task.points}}</b> reward points for performing this task?</div>
        <p style="padding:5px;"></p>
        <div>
           <button class="btn btn-primary btn-sm" id="btn-space" ng-click="performTask()">Confirm</button>
           <button class="btn btn-danger btn-sm" id="btn-space" ng-click="closeThisDialog()">Cancel</button>
        </div>
    </div>