    <div class="ngdialog-message">
        <div>
            <h3>Complete "{{goal.name}}"?</h3>
        </div>
        <p style="padding:5px;"></p>
        <div>Mark this goal <b>Completed</b> and claim reward points / trophy?</div>
        <p style="padding:5px;"></p>
        <div>
           <button class="button button-small button-positive" id="btn-space" ng-click="completeGoal()">Confirm</button>
           <button class="button button-small button-assertive" id="btn-space" ng-click="closeThisDialog()">Cancel</button>
        </div>
    </div>