    <div class="ngdialog-message">
        <div>
            <h3>Archive "{{reward.name}}"?</h3>
        </div>
        <p style="padding:5px;"></p>
        <div>Store this reward in the <b>Archives</b>?</div>
        <p style="padding:5px;"></p>
        <div>
           <button class="button button-small button-positive" id="btn-space" ng-click="archiveReward()">Confirm</button>
           <button class="button button-small button-assertive" id="btn-space" ng-click="closeThisDialog()">Cancel</button>
        </div>
    </div>