<ion-modal-view>
  <ion-header-bar align-title="center">
    <h1 class="title">Edit Your Reward</h1>
    <div class="buttons">
      <button class="button ion-close" ng-click="closeEditReward()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="rewardForm" name="rewardForm" role="form" ng-submit="submitEdit()" novalidate>
      <div class="list">
       <div class="form-group" ng-class="{ 'has-error' : rewardForm.name.$error.required && !rewardForm.name.$pristine }">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" id="name" name="name" ng-value="rewardEdit.name" ng-model="rewardEdit.name" required>
          <span ng-show="rewardForm.name.$error.required && !rewardForm.name.$pristine" class="help-block" style="color:#ff0000">A title for your reward is required.</span>
        </label>
       </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <input type="text" ng-value="rewardEdit.notes" ng-model="rewardEdit.notes">
        </label>
       <div class="form-group" ng-class="{ 'has-error' : (rewardForm.points.$error.required && !rewardForm.points.$pristine) || (rewardForm.points.$invalid && !rewardForm.points.$pristine) }">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Reward Point Cost</span>
          <input type="number" min="0" max="100000" step="1" id="points" name="points" ng-value="rewardEdit.points" ng-model="rewardEdit.points" required>
          <span ng-show="rewardForm.points.$error.required && !rewardForm.points.$pristine" class="help-block" style="color:#ff0000">You must assign a value to Rewards Points.</span>
          <span ng-show="rewardForm.points.$error.min || rewardForm.points.$error.max" class="help-block" style="color:#ff0000">Must be a number between 0 and 100,000.</span>
          <span ng-show="rewardForm.points.$invalid && !rewardForm.points.$pristine && !rewardForm.points.$error.required && !rewardForm.points.$error.min && !rewardForm.points.$error.max" class="help-block" style="color:#ff0000">Must be a positive integer or zero.</span>
        </label>
       </div>
        <label class="item">
          <button class="button button-block button-positive" ng-disabled="rewardForm.$invalid" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>