<ion-modal-view>
  <ion-header-bar align-title="center">
    <h1 class="title">Edit Your Goal</h1>
    <div class="buttons">
      <button class="button ion-close" ng-click="closeEditGoal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="goalForm" name="goalForm" role="form" ng-submit="submitEdit()" novalidate>
      <div class="list">
       <div class="form-group" ng-class="{ 'has-error' : goalForm.name.$error.required && !goalForm.name.$pristine }">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" name="name" ng-value="goalEdit.name" ng-model="goalEdit.name" required>
          <span ng-show="goalForm.name.$error.required && !goalForm.name.$pristine" class="help-block" style="color:#ff0000">A title for your goal is required.</span>
        </label>
       </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <input type="text" ng-value="goalEdit.notes" ng-model="goalEdit.notes">
        </label>
        <label class="item item-stacked-label">
          <span class="input-label">Due Date</span>
          <button class="button button-block button-balanced" type="button" ng-click="editDate()">
            <span ng-if="goalEdit.date == null">(optional)</span>
            <span ng-if="goalEdit.date != null">{{goalEdit.date}}</span>
          </button>
        </label>
       <div class="form-group" ng-class="{ 'has-error' : (goalForm.points.$error.required && !goalForm.points.$pristine) || (goalForm.points.$invalid && !goalForm.points.$pristine) }">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Reward Points</span>
          <input type="number" min="0" max="100000" step="1" name="points" ng-value="goalEdit.points" ng-model="goalEdit.points" required>
          <span ng-show="goalForm.points.$error.required && !goalForm.points.$pristine" class="help-block" style="color:#ff0000">You must assign a value to Rewards Points.</span>
          <span ng-show="goalForm.points.$error.min || goalForm.points.$error.max" class="help-block" style="color:#ff0000">Must be a number between 0 and 100,000.</span>
          <span ng-show="goalForm.points.$invalid && !goalForm.points.$pristine && !goalForm.points.$error.required && !goalForm.points.$error.min && !goalForm.points.$error.max" class="help-block" style="color:#ff0000">
              Must be a positive integer or zero.</span>
        </label>
       </div>
        <label class="item item-input item-select">
          <div class="input-label">Trophy</div>
          <select ng-model="goalEdit.award">
            <option value="0">None</option>
            <option value="1">Bronze</option>
            <option value="2">Silver</option>
            <option value="3">Gold</option>
          </select>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-disabled="goalForm.$invalid" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>