<div class="container">
    <div class="row-content">
        
        <div class="row row-pad">
            <div class="col-xs-12 col-sm-3 col-sm-push-9" align="center">
                <p style="padding:20px;"></p>
                <h3><i>Define Your Long Term Objectives</i></h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div class="media">
                    <div class="media-left media-middle">
                        <img src="images/goal.png" class="media-object" width="150" height="150">
                    </div>
                    <div class="media-body media-middle">
                        <h2 class="media-heading">Goals</h2>
                        <p>The goals section is where it all begins. Enter some basic info about the goals you wish to achieve and you're on your way! Whether it's a project for work or school, improving your physical fitness or learning new skills, Task Master Pro can help you get there!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-pad">
            <div class="col-xs-12 col-sm-3" align="center">
                <p style="padding:30px;"></p>
                <h3><i>Stay On Track</i></h3>
            </div>
            <div class="col-xs-12 col-sm-9">
				<div class="media">
                    <div class="media-body media-middle">                    
                        <h2 class="media-heading">Tasks</h2>
                        <p>List all the day-to-day activities you wish to focus on and manage them in the tasks section. These can be tasks that get you closer to your goals or just daily chores you want to stay on top of. Regardless of their purpose, performing these will earn you reward points!</p>
                    </div>
                    <div class="media-right media-middle" style="padding:20px">
                        <img src="images/task.png" class="media-object" width="120" height="168">
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-pad">
            <div class="col-xs-12 col-sm-3 col-sm-push-9" align="center">
                <p style="padding:30px;"></p>
                <h3><i>Envision Your Incentives</i></h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div class="media">
                    <div class="media-left media-middle" style="padding:20px">
                        <img src="images/reward.png" class="media-object" width="125" height="125">
                    </div>
                    <div class="media-body media-middle">
                        <h2 class="media-heading">Rewards</h2>
                        <p>Specify some enticing rewards and you'll be motivated to do your best! Gain reward points by performing tasks and completing goals, then spend them on what you want. Go ahead, you earned it!</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row row-pad">
            <div class="col-xs-12 col-sm-3" align="center">
                <p style="padding:30px;"></p>
                <h3><i>Enjoy The Journey</i></h3>
            </div>
            <div class="col-xs-12 col-sm-9">
				<div class="media">
                    <div class="media-body media-middle">                    
                        <h2 class="media-heading">Achievements</h2>
                        <p>Progress takes hard work, but it's important to have some fun as well. Unlock achievements as you learn to use Task Master Pro! Watch your star rating grow as you excel in each category!</p>
                    </div>
                    <div class="media-right media-middle" style="padding:20px">
                        <img src="images/cheeve.png" class="media-object" width="125" height="125">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row row-pad">
            <div class="col-xs-12 col-sm-3 col-sm-push-9" align="center">
                <p style="padding:30px;"></p>
                <h3><i>Reflect On Your Progress</i></h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div class="media">
                    <div class="media-left media-middle" style="padding:20px">
                        <img src="images/stats.png" class="media-object" width="125" height="125">
                    </div>
                    <div class="media-body media-middle">
                        <h2 class="media-heading">Statistics</h2>
                        <p>Task Master Pro keeps track of every action you take in order to give you a complete picture of your use of the app. No worries, your data is private and will not be shared with any third party!</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>