<ion-view view-title="About">
    
  <ion-nav-buttons side="right">
      <span class="vcenter">
          <i class="icon ion-ribbon-b" style="font-size: 32px"></i><span style="font-size: 16px">{{user.rpoints}}</span> &nbsp;
      </span>
  </ion-nav-buttons>
    
  <ion-content class="center-content">
      
    <p style="padding:10px;"></p>
    
    <div class="row">
      <div class = "col col-5"></div>
      <div class = "col col-90" align="center">
        <img style="max-width:100%" ng-src="img/logo.png">
      </div>
      <div class = "col col-5"></div>
    </div>
      
    <div class="row" align="center">
      <div class = "col col-5"></div>
      <div class = "col col-90">
        <div class="card" id="fix-card2">
          <div class="item item-divider">
            Created By
          </div>
          <div class="item item-avatar">
            <img ng-src="img/me.jpg">
            <h2>James Poulette</h2>
            <p>Software Engineer</p>
          </div>
          <div class="button-bar">
              <a class="button icon big-icon1 ion-email" style="color:#1C86EE" href="mailto:jamespoulette@gmail.com"></a>
              <a class="button icon big-icon1 ion-social-linkedin" style="color:#0077B5" href="https://www.linkedin.com/in/james-poulette-68651b74/" target="_blank"></a>
              <a class="button icon big-icon1 ion-social-facebook" style="color:#3b5998" href="https://www.facebook.com/james.poulette" target="_blank"></a>
              <a class="button icon big-icon1 ion-ios-telephone" style="color:#3675E1" href="tel:15186326680"></a>
          </div>
        </div>
        <p style="padding:5px;"></p>
        <div class="card" id="fix-card2">
          <div class="item item-divider">
            Developed With
          </div>
          <div class="button-bar vcenter" style="height:88px">
              <a class="button icon big-icon2 ion-ionic whitebg" style="color:#387ef5;padding:20px" href="http://ionicframework.com/" target="_blank"></a>
              <a class="button icon big-icon2 ion-social-javascript whitebg" style="color:#0077B5;padding:20px" href="https://www.javascript.com/" target="_blank"></a>
              <a class="button icon big-icon2 ion-social-angular whitebg" style="color:#FF0000;padding:20px" href="https://angularjs.org/" target="_blank"></a>
          </div>
          <div class="button-bar vcenter" style="height:88px">
              <a class="button icon big-icon2 ion-social-html5 whitebg" style="color:#FB7F01;padding:20px" href="https://www.w3schools.com/html/default.asp" target="_blank"></a>
              <a class="button icon big-icon2 ion-social-android whitebg" style="color:#a4c639;padding:20px" href="https://www.android.com/" target="_blank"></a>
              <a class="button icon big-icon2 ion-social-css3 whitebg" style="color:#1BA9DF;padding:20px" href="https://www.w3schools.com/css/default.asp" target="_blank"></a>
          </div>
        </div>
        <p style="padding:5px;"></p>
        <a href="https://play.google.com/store/apps/details?id=com.ionicframework.tmpionic682610" target="_blank" id="no-underline">
            <div class="card" id="fix-card2">
              <div class="item item-divider">
                App Version 1.1
              </div>
              <div class="item" align="center">
                <img ng-src="img/gplay.png" height="150" width="150">
              </div>
              <div class="item item-divider" align="center">
                Your review is appreciated!
              </div>
            </div>
        </a>
        <p style="padding:5px;"></p>
        <div class="card" id="fix-card2">
          <div class="item item-divider">
            Special Thanks
          </div>
          <ion-list>
              <ion-item>
                Coursera<br>
                <a href="https://www.coursera.org/" target="_blank">https://www.coursera.org/</a>
              </ion-item>
              <ion-item>
                W3Schools<br>
                <a href="https://www.w3schools.com/w3css/" target="_blank">https://www.w3schools.com/w3css/</a>
              </ion-item>
              <ion-item>
                Cordova Local Notifications<br>
                <a href="https://github.com/katzer/cordova-plugin-local-notifications" target="_blank">https://github.com/katzer/cordova-plugin-local-notifications</a>
              </ion-item>
              <ion-item>
                Ionic Datepicker<br>
                <a href="https://github.com/rajeshwarpatlolla/ionic-datepicker" target="_blank">https://github.com/rajeshwarpatlolla/ionic-datepicker</a>
              </ion-item>
              <ion-item>
                ngStorage<br>
                <a href="https://github.com/gsklee/ngStorage" target="_blank">https://github.com/gsklee/ngStorage</a>
              </ion-item>
              <ion-item>
                Stack Overflow<br>
                <a href="https://stackoverflow.com/" target="_blank">https://stackoverflow.com/</a>
              </ion-item>
          </ion-list>
        </div>
      </div>
      <div class = "col col-5"></div>
    </div>
  
    <p style="padding:20px;"></p>

  </ion-content>
    
</ion-view>