     <div class="container">
        
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a ui-sref="app">Home</a></li>
                   <li><a ui-sref="app.goals.comp">Goals</a></li>
                   <li class="active">{{goal.name}}</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>{{goal.name}}</h3>
               <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-6">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6" align="center">
                <p style="padding:10px;"></p>
                <button class="btn btn-danger" id="btn-space" ng-click="compDeleteDialog()">
                   <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
                <button class="btn btn-success" id="btn-space" ng-click="compCopyDialog()">
                  <span class="glyphicon glyphicon-ok"></span> Copy
                </button>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
            </div> 
            <div class="col-xs-12 col-sm-6">
               <div ng-if="!showGoal">
                  <h3>{{message}}</h3>
               </div>
               <div ng-if="goal.award != 0" align="center">
                  <h4>Congratulations on achieving your goal!</h4>
                  <p style="padding:5px;"></p>
                  <span ng-if="goal.award == '3'">
                      <img src="images/gold.png" class="img-responsive">
                  </span>
                  <span ng-if="goal.award == '2'">
                      <img src="images/silver.png" class="img-responsive">
                  </span>
                  <span ng-if="goal.award == '1'">
                      <img src="images/bronze.png" class="img-responsive">
                  </span>
                  <!-- 
                  <h4>Share your accomplishment with your friends!</h4>
                  <p style="padding:5px;"></p>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=https://developers.facebook.com/docs/plugins/" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=0,resizable=0'); return false;">
                     <img src="images/fbshare.png" width="83" height="31">
                  </a> -->
                  <p style="padding:10px;"></p>
               </div>
               <ul class="list-group" ng-if="showGoal">
                  <li class="list-group-item">
                      <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> &nbsp;
                      <b>Goal:</b> &nbsp; {{goal.name}}</li>
                  <li class="list-group-item">
                      <span class="fa fa-file-text-o" aria-hidden="true"></span> &nbsp;
                      <b>Description:</b> &nbsp; {{goal.notes}}</li>
                  <li class="list-group-item">
                      <span class="fa fa-calendar" aria-hidden="true"></span> &nbsp;
                      <b>Created:</b> &nbsp; {{goal.createdate | date: 'yyyy-MM-dd'}}</li>
                  <li class="list-group-item">
                      <span class="fa fa-calendar" aria-hidden="true"></span> &nbsp;
                      <b>Completed:</b> &nbsp; {{goal.date | date: 'yyyy-MM-dd'}}</li>
                  <li class="list-group-item">
                      <span class="fa fa-university" aria-hidden="true"></span> &nbsp;
                      <b>Reward Points:</b> &nbsp; {{goal.points}}</li>
                  <li class="list-group-item">
                      <span class="fa fa-trophy" aria-hidden="true"></span> &nbsp;
                      <b>Trophy:</b> &nbsp;
                      <span ng-if="goal.award == '3'">Gold</span>
                      <span ng-if="goal.award == '2'">Silver</span>
                      <span ng-if="goal.award == '1'">Bronze</span>
                      <span ng-if="goal.award == '0'">None</span>
                  </li>
               </ul>
               <p style="padding:10px;"></p>
               <div align="center">
                  <a class="btn btn-primary" ui-sref="app.goals.comp">
                  <span class="fa fa-arrow-circle-left"></span> Back
                  </a>
               </div>
            </div>
            <div class="col-xs-12 col-sm-3">
            </div>
        </div>
        
    </div>